body{
    background-color: black;
}
h1{
    font-family: "Calisto MT";
    font-size: 30px;
    color: white;
    text-align: center;
}
h2{
    font-family: "Calisto MT";
    color: aqua;
    font-size: 18px;
    text-align: center;
}