<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Help</title>
    <link rel="stylesheet" href="help_styles.css">
</head>
<body>
<h1>
    <li>/auth (/auth?appcode=XXXX)</li>
    <li>/barcodes/{appcode}/{pin}</li>
    <li>/entrcoordinator-auth/{shelf}/{pin}</li>
    <li>/entcoordinator-list/{shelf}"</li>
    <li>/entrcoordinator-getitem/{shelf}/{item_id}/{worker_id}</li>
    <li>/entrcoordinator-returnitem/{shelf}/{item_id}/{worker_id}</li>
    <li>/entrcoordinator-item-details/{shelf}/{app_code}/{item_id}</li>
    <li>/entrcoordinator-item-status/{shelf}/{app_code}/{item_id}</li>
    <li>/guard-auth/{numberplates}</li>
    <li>/health</li>
    <li>/mobile-barcode/{worker_pin}</li>
    <li>/entrc-functioncodes/{api_token}</li>
</h1>
</body>
</html>